body {
  /*padding: 20px;*/
  width: 100%;
}

#content {
  display: block;
  position: relative;
  text-align: center;
  height: auto;
  width: 100%;
}

.filterableProductTable {
  background-color: lightgrey;
  border: none;
  border-radius: 4px;
  display: inline-block;
  margin: auto;
  padding: 15px;
  position: relative;
}